<a href="https://colab.research.google.com/github/Nikita785/BLCMods/blob/master/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df_fd = pd.read_csv('/content/financial_data.csv')
df_pr = pd.read_csv('/content/prolongations.csv')

In [3]:
#  Шаг первый: очистка данных
#    - Счел нужным удалить Причины дубля из df_fd для удобства
#    - Преобразовать месяцы в df_fd в числовой тип и заполнить NaN нулями для реализации вычислений

df_fd = df_fd.drop('Причина дубля', axis=1)
cols_to_convert = ['Ноябрь 2022',
                   'Декабрь 2022', 'Январь 2023', 'Февраль 2023',
                   'Март 2023', 'Апрель 2023', 'Май 2023',
                   'Июнь 2023', 'Июль 2023', 'Август 2023',
                   'Сентябрь 2023', 'Октябрь 2023', 'Ноябрь 2023',
                   'Декабрь 2023', 'Январь 2024', 'Февраль 2024']

for col in cols_to_convert:
  df_fd[col] = df_fd[col].astype(str).str.replace('\xa0', '').str.replace(',', '.')
  df_fd[col] = pd.to_numeric(df_fd[col], errors='coerce').fillna(0)

In [8]:
# Шаг второй: объединение таблиц для произведения расчётов

month_mapping = {
    'Ноябрь 2022': 'november_2022',
    'Декабрь 2022': 'december_2022',
    'Январь 2023': 'january_2023',
    'Февраль 2023': 'february_2023',
    'Март 2023': 'march_2023',
    'Апрель 2023': 'april_2023',
    'Май 2023': 'may_2023',
    'Июнь 2023': 'june_2023',
    'Июль 2023': 'july_2023',
    'Август 2023': 'august_2023',
    'Сентябрь 2023': 'september_2023',
    'Октябрь 2023': 'october_2023',
    'Ноябрь 2023': 'november_2023',
    'Декабрь 2023': 'december_2023',
    'Январь 2024': 'january_2024',
    'Февраль 2024': 'february_2024'
}

df_merge = pd.merge(df_fd, df_pr, on='id', how='left')
df_merge = df_merge.rename(columns=month_mapping)